{% extends "base.html" %} 
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
{% endblock %} {% block content %}
<!-- Profil Pengguna -->
<div
  class="headerbg p-3 text-dark mt-4"
  style="height: auto; background-color: white"
>
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Beranda</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('admin') }}">Admin</a></li>
          <li class="breadcrumb-item active" aria-current="page">Lihat Pengguna</li>
        </ol>
      </nav>
      <div class="mt-5" style="display: flex; align-items: center">
        {% if user_data[8] %}
        <label for="profilePictureInput" id="profilePictureLabel">
          <img
            class="img-fluid"
            src="{{ url_for('static', filename='uploads/' + user_data[8]) }}"
            alt="Profile Picture"
            style="
              object-fit: cover;
              object-position: center;
              height: 150px;
              width: 150px;
            "
            id="profilePictureImg"
          />
        </label>
        {% else %}
        <label for="profilePictureInput" id="profilePictureLabel">
          <img
            class="img-fluid"
            src="{{ url_for('static', filename='user-black.png') }}"
            alt="Default Profile Picture"
            style="
              object-fit: cover;
              object-position: center;
              height: 150px;
              width: 150px;
            "
            id="profilePictureImg"
          />
        </label>
        {% endif %}
        <div style="margin-left: 20px; width: 100%">
          <form
            id="user_form"
            action="{{ url_for('admin_user', taken_user_id=user_data[0]) }}"
            method="POST"
          >
            <fieldset disabled id="user_fieldset">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="new_name">Nama Dokter:</label>
                  <input
                    type="text"
                    id="new_name"
                    name="new_name"
                    class="form-control"
                    value="{{ user_data[1] }}"
                    required
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="new_phone">No. Telepon</label>
                  <input
                    type="text"
                    id="new_phone"
                    name="new_phone"
                    class="form-control"
                    value="{{ user_data[2] }}"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="new_email">Email:</label>
                  <input
                    type="text"
                    id="new_email"
                    name="new_email"
                    class="form-control"
                    value="{{ user_data[3] }}"
                    required
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="new_status">Status</label>
                  <select
                    type="text"
                    id="new_status"
                    name="new_status"
                    class="form-control"
                    value="{{ user_data[7] }}"
                  >
                    <option>aktif</option>
                    <option>non-aktif</option>
                  </select>
                </div>
              </div>
            </fieldset>

            <div class="row">
              <div class="form-group col-md-12">
                <button
                  type="button"
                  id="cancelButton"
                  class="btn btn-secondary mt-2"
                  style="float: right; display: none"
                >
                  <i class="fa fa-times"></i>
                </button>
                <button
                  type="button"
                  id="saveButton"
                  class="btn btn-success mt-2"
                  style="float: right; margin-right: 30px; display: none"
                >
                  <i class="fa fa-floppy-o"> Simpan</i>
                </button>

                <button
                  type="button"
                  id="editButton"
                  class="btn btn-primary mt-2"
                  style="float: right"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  type="button"
                  id="editPasswordButton"
                  data-bs-toggle="modal"
                  data-bs-target="#editPasswordModal"
                  class="btn btn-primary mt-2"
                  style="float: right; margin-right: 30px"
                >
                  <i class="fa fa-pencil"> Ubah Password</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tabel -->
<div
  class="headerbg p-3 text-dark mt-4 mb-5"
  style="height: auto; background-color: white"
>
  <div class="container table-responsive" style="text-align: center">
    <h3>Riwayat Deteksi</h3>
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Waktu dan Tanggal</th>
          <th scope="col">Nama Pasien</th>
          <th scope="col">Umur Pasien</th>
          <th scope="col">Label</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for detection_row in detection_data %}
        <tr>
          <td>{{ detection_row[0] }}</td>
          <td>{{ detection_row[3] }}</td>
          <td>{{ detection_row[4] }}</td>
          <td>{{ detection_row[6] }}</td>
          <td>{{ detection_row[2] }}</td>
          <td>
            <button
              class="btn btn-primary btn-detail"
              data-id="{{ detection_row[0] }}"
              data-image="{{ detection_row[1] }}"
              data-label="{{ detection_row[2] }}"
              data-datetime="{{ detection_row[3] }}"
              data-patient="{{ detection_row[4] }}"
              data-phone="{{ detection_row[5] }}"
              data-age="{{ detection_row[6] }}"
              data-note="{{ detection_row[7] }}"
            >
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal konfirmasi -->
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Konfirmasi Simpan</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Apakah Anda yakin ingin menyimpan perubahan?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Batal
        </button>
        <button type="button" id="saveChangesButton" class="btn btn-primary">
          Ya, Simpan Perubahan
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Ubah Password -->
<div
  class="modal fade"
  id="editPasswordModal"
  tabindex="-1"
  aria-labelledby="editPasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPasswordModalLabel">Ubah Password</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="updatePasswordForm"
          method="POST"
          action="/admin/user/{{ user_data[0] }}"
        >
          <div class="mb-3">
            <label for="new_password" class="form-label">Password Baru</label>
            <div class="input-group">
              <input
                type="password"
                id="new_password"
                name="new_password"
                class="form-control"
                required
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="togglePassword"
              >
                <i class="fa fa-eye-slash"></i>
              </button>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Konfirmasi Ubah Password -->
<div
  class="modal fade"
  id="confirmPassModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Konfirmasi</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Apakah Anda yakin ingin mengubah password?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Batal
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="confirmPasswordUpdate"
        >
          Ya
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detail Detection -->
<div class="modal fade" id="detailDetectionModal" tabindex="-1" aria-labelledby="detailDetectionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 90%; max-height: 90%;">
    <div class="modal-content">
      <div class="row">
        <div class="form-group col-md-6">
          <img class="img-fluid" id="detailImage" alt="Image" />
        </div>
        <div class="form-group col-md-6">
          <div class="modal-header">
            <h5 class="modal-title" id="detailDetectionModalLabel">Detail Data</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body table-responsive" style="max-height: 450px; overflow-y: auto;">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th scope="row" style="width:30%">ID</th>
                  <td id="detailID" style="text-align: justify;"></td>
                </tr>
                <tr>
                  <th scope="row" style="width:30%">Waktu dan Tanggal</th>
                  <td id="detailDateTime" style="text-align: justify;"></td>
                </tr>
                <tr>
                  <th scope="row" style="width:30%">Nama Pasien</th>
                  <td id="detailPatientName" style="text-align: justify;"></td>
                </tr>
                <tr>
                  <th scope="row" style="width:30%">No. Telepon Pasien</th>
                  <td id="detailPatientPhone" style="text-align: justify;"></td>
                </tr>
                <tr>
                  <th scope="row" style="width:30%">Umur Pasien</th>
                  <td id="detailPatientAge" style="text-align: justify;"></td>
                </tr>
                <tr>
                  <th scope="row" style="width:30%">Label</th>
                  <td id="detailLabel" style="text-align: justify;"></td>
                </tr>
                <tr>
                  <th scope="row" style="width:30%">Catatan</th>
                  <td id="detailNote" style="text-align: justify;"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $(".btn-detail").click(function () {
      var id = $(this).data("id");
      var image = $(this).data("image");
      var label = $(this).data("label");
      var datetime = $(this).data("datetime");
      var patient = $(this).data("patient");
      var phone = $(this).data("phone");
      var age = $(this).data("age");
      var note = $(this).data("note");

      $("#detailID").text(id);
      $("#detailImage").attr(
        "src",
        "{{ url_for('static', filename='uploads/') }}" + image
      );
      $("#detailLabel").text(label);
      $("#detailDateTime").text(datetime);
      $("#detailPatientName").text(patient);
      $("#detailPatientPhone").text(phone);
      $("#detailPatientAge").text(age);
      $("#detailNote").text(note);

      $("#detailDetectionModal").modal("show");
    });
  });

  document.getElementById("editButton").addEventListener("click", function () {
    document.getElementById("user_fieldset").disabled = false;
    document.getElementById("editButton").style.display = "none";
    document.getElementById("editPasswordButton").style.display = "none";
    document.getElementById("saveButton").style.display = "block";
    document.getElementById("cancelButton").style.display = "block";
  });

  document
    .getElementById("cancelButton")
    .addEventListener("click", function () {
      document.getElementById("user_fieldset").disabled = true;
      document.getElementById("editButton").style.display = "block";
      document.getElementById("editPasswordButton").style.display = "block";
      document.getElementById("saveButton").style.display = "none";
      document.getElementById("cancelButton").style.display = "none";
      document.getElementById("new_name").value = "{{ user_data[1] }}";
      document.getElementById("new_phone").value = "{{ user_data[2] }}";
      document.getElementById("new_email").value = "{{ user_data[3] }}";
      document.getElementById("new_status").value = "{{ user_data[7] }}";
    });

  document.getElementById("saveButton").addEventListener("click", function () {
    $("#confirmModal").modal("show");
  });

  document
    .getElementById("saveChangesButton")
    .addEventListener("click", function () {
      document.getElementById("user_form").submit();
    });

  document.addEventListener("DOMContentLoaded", function () {
    const togglePassword = document.querySelector("#togglePassword");
    const passwordInput = document.querySelector("#new_password");

    togglePassword.addEventListener("click", function () {
      const type =
        passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);
      this.querySelector("i").classList.toggle("fa-eye");
      this.querySelector("i").classList.toggle("fa-eye-slash");
    });
  });

  document
    .getElementById("updatePasswordForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();
      $("#confirmPassModal").modal("show");
      $("#editPasswordModal").modal("hide");
    });

  document
    .getElementById("confirmPasswordUpdate")
    .addEventListener("click", function () {
      document.getElementById("updatePasswordForm").submit();
    });
</script>
{% endblock %}
