{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServcDet</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='logo.ico') }}"
      type="icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      #dropArea {
        width: 100%;
        height: 300px;
        border: 2px dashed #ccc;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
      }
      #papSmearImagePreview {
        max-width: 100%;
        max-height: 100%;
      }
      .delete-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
      .delete-btn:hover {
        background-color: rgba(255, 0, 0, 0.5);
      }
      body {
        font-family: "Radiance";
      }
      .headerbg {
        background-image: var(--bs-gradient);
      }
      p,
      label {
        font-size: 19px;
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <!-- Content -->
    <div
      class="headerbg p-3 text-dark"
      style="height: 140vh; background-color: white"
    >
      <div class="container" style="margin-top: 60px">
        <div class="row">
          <div class="col-md-6 mx-auto mb-3">
            <h1 class="text-center">Form Pap Smear</h1>
            <div>
              <label for="patientName" class="form-label">Nama Pasien:</label>
              <input
                type="text"
                id="patientName"
                name="patientName"
                class="form-control"
                style="border-color: #14335f"
                required
              />
            </div>
            <div>
              <label for="patientAge" class="form-label">Umur Pasien:</label>
              <input
                type="number"
                id="patientAge"
                name="patientAge"
                class="form-control"
                style="border-color: #14335f"
                required
              />
            </div>
            <div>
              <label for="patientNIK" class="form-label">NIK Pasien:</label>
              <input
                type="text"
                id="patientNIK"
                name="patientNIK"
                class="form-control"
                style="border-color: #14335f"
                required
              />
            </div>
            <label for="patientName" class="form-label">Hasil Pap-smear:</label>
            <input
              type="file"
              id="papSmearImage"
              accept="image/*"
              class="form-control-file mb-3"
              style="border-color: #14335f"
            />
            <div id="dropArea" class="mb-3" style="border-color: #14335f">
              <label class="text-center">
                Atau drag and drop file gambar di sini.
              </label>
              <img id="papSmearImagePreview" src="#" alt="Preview Gambar" />
              <button id="clearBtn" style="display: none" class="delete-btn">
                &times;
              </button>
              <label
                id="fileName"
                style="display: none"
                class="text-center"
              ></label>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              style="
                display: block;
                margin: 0 auto;
                background-color: #14335f;
                margin-top: 20px;
              "
            >
              Deteksi
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      const dropArea = document.getElementById("dropArea");
      const input = document.getElementById("papSmearImage");
      const submitBtn = document.getElementById("submitBtn");
      const clearBtn = document.getElementById("clearBtn");
      const imagePreview = document.getElementById("papSmearImagePreview");
      const fileName = document.getElementById("fileName");

      dropArea.addEventListener("dragover", (event) => {
        event.preventDefault();
        dropArea.classList.add("highlight");
      });

      dropArea.addEventListener("dragleave", () => {
        dropArea.classList.remove("highlight");
      });

      dropArea.addEventListener("drop", (event) => {
        event.preventDefault();
        dropArea.classList.remove("highlight");
        const file = event.dataTransfer.files[0];
        if (file) {
          displayFile(file);
          input.files = event.dataTransfer.files;
          submitBtn.disabled = false;
          clearBtn.style.display = "block";
        }
      });

      input.addEventListener("change", () => {
        const file = input.files[0];
        if (file) {
          displayFile(file);
          submitBtn.disabled = false;
          clearBtn.style.display = "block";
        }
      });

      clearBtn.addEventListener("click", () => {
        input.value = "";
        imagePreview.src = "";
        imagePreview.style.display = "none";
        fileName.textContent = "";
        fileName.style.display = "none";
        clearBtn.style.display = "none";
        submitBtn.disabled = true;
      });

      function displayFile(file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          imagePreview.src = e.target.result;
          imagePreview.style.display = "block";
          clearBtn.style.display = "block";
          fileName.style.display = "block";
        };
        reader.readAsDataURL(file);
      }
    </script>
  </body>
</html>
{% endblock %}
