{% extends "base.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
{% endblock %} {% block content %}
<!-- Content -->
<h1>User Page</h1>
<div>
  <h2>User Profile</h2>
  <ul>
    <li><strong>Username:</strong> {{ user_data.username }}</li>
    <li><strong>Phone:</strong> {{ user_data.phone }}</li>
    <li><strong>Location:</strong> {{ user_data.location }}</li>
    <li><strong>Email:</strong> {{ user_data.email }}</li>
    <!-- Jika Anda menyimpan URL gambar profil di database, gunakan kode berikut -->
    <!-- <li><strong>Profile Picture:</strong> <img src="{{ user_data.profile_pict }}" alt="Profile Picture"></li> -->
  </ul>
  <!-- Jika Anda menyimpan gambar profil sebagai file di server, gunakan kode berikut -->
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
{% endblock %}
